<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui.css">
    <link rel="shortcut icon" href="https://fastapi.tiangolo.com/img/favicon.png">
    <title>Swagger - {{ name }}</title>
</head>

<body>
    <div id="swagger-ui">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui-bundle.js"></script>
    <!-- `SwaggerUIBundle` is now available on the page -->
    <script>
        const openapiData = {{ openapi | safe }};
        //const openapiData = JSON.parse('{{ openapi | tojson | safe }}');
        // If spec is Swagger 2.0
        // if (openapiData.swagger === "2.0") {

        //     // Ensure securityDefinitions exists
        //     openapiData.securityDefinitions = openapiData.securityDefinitions || {};

        //     // Define API Key auth
        //     openapiData.securityDefinitions.APIKeyAuth = {
        //         type: "apiKey",
        //         name: "api_key",
        //         in: "query"
        //     };

        //     // Apply globally
        //     openapiData.security = [{ APIKeyAuth: [] }];
        // }

        // // If spec is OpenAPI 3
        // if (openapiData.openapi) {

        //     openapiData.components = openapiData.components || {};
        //     openapiData.components.securitySchemes =
        //         openapiData.components.securitySchemes || {};

        //     openapiData.components.securitySchemes.APIKeyAuth = {
        //         type: "apiKey",
        //         in: "query",
        //         name: "api_key"
        //     };

        //     openapiData.security = [{ APIKeyAuth: [] }];
        // }

        const ui = SwaggerUIBundle({
            spec: openapiData,
            dom_id: "#swagger-ui",
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout",
            persistAuthorization: true
        });
    </script>
</body>

</html>